

<a href="#">Profil İşlemleri</a>
<ul class="sub-menu">
    <li>
        <a href="@Url.Action("Profile","Account")">Profilim</a>
    </li>
    @{
        if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <li>
                <a href="@Url.Action("Index","Admin")">Admin Panel</a>
            </li>
        }
    }
    <li>
        <a href="@Url.Action("Logout","Account")">Çıkış Yap</a>
    </li>
</ul>