
@{
    Layout = null;
}
<form>
    <div class="group">
        <input type="text"><span class="highlight"></span><span class="bar"></span>
        <label>Kullanıcı Adı *</label>
    </div>
    <div class="group">
        <input type="text"><span class="highlight"></span><span class="bar"></span>
        <label>Ad *</label>
    </div>
    <div class="group">
        <input type="text"><span class="highlight"></span><span class="bar"></span>
        <label>Soyad *</label>
    </div>
    <div class="group">
        <input type="tel"><span class="highlight"></span><span class="bar"></span>
        <label>Telefon Numarası *</label>
    </div>
    <div class="group">
        <input type="email"><span class="highlight"></span><span class="bar"></span>
        <label>Email *</label>
    </div>
    <div class="group">
        <input type="password"><span class="highlight"></span><span class="bar"></span>
        <label>Şifre *</label>
    </div>
    <div class="group">
        <input type="password"><span class="highlight"></span><span class="bar"></span>
        <label>Şifre Tekrar *</label>
    </div>
    <button type="button" class="button buttonBlue">
        Kaydol
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>

