<a href="#">Üyelik İşlemleri</a>
<ul class="sub-menu">
    <li>
        <a href="@Url.Action("Login","Account")">Giriş Yap</a>
    </li>
    <li>
        <a href="@Url.Action("Register","Account")">Kayıt Ol</a>
    </li>
    <li>
        <a href="@Url.Action("RecoverPassword","Account")">Şifremi Unuttum</a>
    </li>
</ul>