<section class="md-section md-text-center" style="height:100vh;padding-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 ">
                <div class="consult-commingsoon">
                    <h3 style="color: #f39c12;"><a href="#"></a></h3>
                    <h4>Yapım Aşamasındadır. Sayfanın Yayınlanması İçin Kalan Süre</h4>

                    <!-- countdown__module hide undefined -->
                    <div class="countdown__module hide undefined" data-date="2018/02/05">
                        <p><span>%D</span><strong> Gün</strong></p>
                        <p><span>%H</span><strong> Saat</strong></p>
                        <p><span>%M</span><strong> Dakika</strong></p>
                        <p><span>%S</span><strong> Saniye</strong></p>
                    </div><!-- End / countdown__module hide undefined -->

                   
                </div>
            </div>
        </div>
    </div>
</section>