
<form>
    <div class="group">
        <input type="text"><span class="highlight"></span><span class="bar"></span>
        <label>Kullanıcı Adı</label>
    </div>
    <div class="group">
        <input type="password"><span class="highlight"></span><span class="bar"></span>
        <label>Şifre</label>
    </div>
    <button type="button" class="button buttonBlue">
        Giriş Yap
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form> 