<section class="md-section" style="background-color:#f7f7f7;padding-top:0;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">

                <!-- iconbox -->
                <div class="iconbox">
                    <div class="iconbox__icon"><i class="ti-headphone-alt"></i></div>
                    <div>
                        <h2 class="iconbox__title"><a href="#">En İyi Teknik Servis Sağlayıcısı</a></h2>
                        <div class="iconbox__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla interdum luctus vitae diam. Morbi ac orci ac dolor pellentesque interdum vel accumsan risus. In ves</div>
                    </div>
                </div><!-- End / iconbox -->

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 ">

                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                    <div class="iconbox__icon"><i class="ti-face-smile"></i></div>
                    <div>
                        <h2 class="iconbox__title"><a href="#">Marka &amp; Güven</a></h2>
                        <div class="iconbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
                    </div>
                </div><!-- End / iconbox -->

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ">

                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                    <div class="iconbox__icon"><i class="ti-anchor"></i></div>
                    <div>
                        <h2 class="iconbox__title"><a href="#">Profesyonel Ekip</a></h2>
                        <div class="iconbox__description">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu. Suspendisse maximus ac </div>
                    </div>
                </div><!-- End / iconbox -->

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ">

                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                    <div class="iconbox__icon"><i class="ti-timer"></i></div>
                    <div>
                        <h2 class="iconbox__title"><a href="#">Hızlı Çözüm</a></h2>
                        <div class="iconbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
                    </div>
                </div><!-- End / iconbox -->

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ">

                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                    <div class="iconbox__icon"><i class="ti-flag"></i></div>
                    <div>
                        <h2 class="iconbox__title"><a href="#">Arıza Takip Sistemi</a></h2>
                        <div class="iconbox__description">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet l</div>
                    </div>
                </div><!-- End / iconbox -->

            </div>
        </div>
    </div>
</section>