<a href="#">Profil İşlemleri</a>
<ul class="sub-menu">
    <li>
        <a href="@Url.Action("Profile","Account")">Profilim</a>
    </li>
    <li>
        <a href="@Url.Action("Logout","Account")">Çıkış Yap</a>
    </li>
</ul>