<section class="md-section" style="padding-bottom:0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">

                <!-- title-01 -->
                <div class="title-01" style="margin-bottom:50px;">
                    <h2 class="title-01__title">Müşteriler ne diyor?</h2>
                </div><!-- End / title-01 -->

            </div>
        </div>
        <div class="consult-slide">

            <!-- carousel__element owl-carousel -->
            <div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"992":{"items":2}}}'>

                <!-- testimonial -->
                <div class="testimonial">
                    <div class="testimonial__info">
                        <a class="testimonial__avatar" href="#"><img src="~/assets/img/avatars/avatar-01.jpg" alt="" /></a>
                        <h5 class="testimonial__name">Brandon Hanson</h5><span class="testimonial__position">Destek</span>
                    </div>
                    <div class="testimonial__content">
                        <div class="testimonial__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque luctus nibh augue, non ultrices arcu molestie in. In</div>
                    </div>
                </div><!-- End / testimonial -->
                <!-- testimonial -->
                <div class="testimonial">
                    <div class="testimonial__info">
                        <a class="testimonial__avatar" href="#"><img src="~/assets/img/avatars/avatar-02.jpg" alt="" /></a>
                        <h5 class="testimonial__name">Brandon Hanson</h5><span class="testimonial__position">CEO &amp; Kurucu</span>
                    </div>
                    <div class="testimonial__content">
                        <div class="testimonial__text">Sed ante nisl, fermentum et facilisis in, maximus sed ipsum. Cras hendrerit feugiat eros, ut fringilla nunc finibus sed. Quisque vitae dictum augue, v</div>
                    </div>
                </div><!-- End / testimonial -->
                <!-- testimonial -->
                <div class="testimonial">
                    <div class="testimonial__info">
                        <a class="testimonial__avatar" href="#"><img src="~/assets/img/avatars/1.jpg" alt="" /></a>
                        <h5 class="testimonial__name">Maria Gutierrez</h5><span class="testimonial__position">Tasarımcı</span>
                    </div>
                    <div class="testimonial__content">
                        <div class="testimonial__text">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu sagittis volutpat. Aliquam erat volutpat. Praesen</div>
                    </div>
                </div><!-- End / testimonial -->

            </div><!-- End / carousel__element owl-carousel -->

        </div>
    </div>
</section>