@model List<Entities.ViewModels.WorksViewModel>
@{
    ViewBag.Title = "ComplateWorks";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-lg-2"></div>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tamamlanan İşler Listesi</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Arıza ID
                        </th>
                        <th>
                            Teknisyen ID
                        </th>
                        <th>
                            Teknisyen Raporu
                        </th>
                        <th>
                            Arıza Onarım Tarihi
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Entities.ViewModels.WorksViewModel item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.FaultReportID</td>
                            <td>@item.TechnicionID</td>
                            <td>Teknisyen Raporu</td>
                            <td>@item.CompletionDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scriptTeknisyen{

}