
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kombi Master Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/node_modules/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/node_modules/jquery-bar-rating/dist/themes/css-stars.css">
    <link rel="stylesheet" href="~/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- header -->
        @{
            Html.RenderAction("APHeaderResult", "Admin");
        }
        <!-- header end -->
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- sidebar -->
                @{
                    Html.RenderAction("APSidebarResult", "Admin");
                }
                <!-- sidebar end -->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-warning text-white">
                                <div class="card-body">
                                    <h4 class="font-weight-normal mb-3">Haftalık Satışlar</h4>
                                    <h2 class="font-weight-normal mb-5">$ 15,00000.00</h2>
                                    <p class="card-text">60% Arttırılmış</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-info text-white">
                                <div class="card-body">
                                    <h4 class="font-weight-normal mb-3">Haftalık Emirler</h4>
                                    <h2 class="font-weight-normal mb-5">45633456</h2>
                                    <p class="card-text">10% azaltılmış</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success text-white">
                                <div class="card-body">
                                    <h4 class="font-weight-normal mb-3">Online Ziyaretçiler</h4>
                                    <h2 class="font-weight-normal mb-5">955741235</h2>
                                    <p class="card-text">5% Arttırılmış</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Satışa Genel Bakış</h4>
                                    <canvas id="sales-chart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body d-flex flex-column">
                                    <h4 class="card-title">Memnuniyet Grafiği</h4>
                                    <div class="mt-auto">
                                        <canvas id="satisfaction-chart" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Son Güncellemeler</h4>
                                    <div class="d-flex">
                                        <div class="d-flex align-items-center mr-4 text-muted">
                                            <i class="mdi mdi-account icon-sm mr-2"></i>
                                            <span>jack Menqu</span>
                                        </div>
                                        <div class="d-flex align-items-center text-muted">
                                            <i class="mdi mdi-calendar-blank icon-sm mr-2"></i>
                                            <span>3 Ekim, 2018</span>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 pr-1">
                                            <img src="~/images/dashboard/img_1.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                            <img src="~/images/dashboard/img_4.jpg" class="mw-100 w-100 rounded" alt="image">
                                        </div>
                                        <div class="col-6 pl-1">
                                            <img src="~P/images/dashboard/img_2.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                            <img src="~/images/dashboard/img_3.jpg" class="mw-100 w-100 rounded" alt="image">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-5 align-items-top">
                                        <img src="~/images/faces/face3.jpg" class="img-sm rounded-circle mr-3" alt="image">
                                        <div class="mb-0 flex-grow">
                                            <p class="font-weight-bold mr-2 mb-0">Jack Manque</p>
                                            <p>
                                                Bu harika! New Hampshire'daki yepyeni bir ofise daha fazla alan bıraktık. Eski ofisimizi özleyeceğiz, ancak yeni alanımızdan çok heyecanlıyız.
                                            </p>
                                        </div>
                                        <div class="ml-auto">
                                            <i class="mdi mdi-heart-outline text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Son Biletler</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Bilet Numarası.
                                                    </th>
                                                    <th>
                                                        Konu
                                                    </th>
                                                    <th>
                                                        Bekil
                                                    </th>
                                                    <th>
                                                        Durum
                                                    </th>
                                                    <th>
                                                        Son Güncelleme
                                                    </th>
                                                    <th>
                                                        Takip ID
                                                    </th>
                                                    <th>
                                                        Öncelik
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        5669
                                                    </td>
                                                    <td>
                                                        Fona Ulaşılmadı
                                                    </td>
                                                    <td class="py-1">
                                                        <img src="~/images/faces/face1.jpg" class="mr-2" alt="image">
                                                        David Grey
                                                    </td>
                                                    <td>
                                                        <label class="badge badge-gradient-success">TAMAMLANDI</label>
                                                    </td>
                                                    <td>
                                                        5 Aralık, 2017
                                                    </td>
                                                    <td>
                                                        WD-12345
                                                    </td>
                                                    <td>
                                                        <i class="mdi mdi-arrow-up text-danger icon-sm mr-1"></i>High
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5670
                                                    </td>
                                                    <td>
                                                        Yüksek yükleme süresi
                                                    </td>
                                                    <td class="py-1">
                                                        <img src="~/images/faces/face2.jpg" class="mr-2" alt="image">
                                                        Stella Johnson
                                                    </td>
                                                    <td>
                                                        <label class="badge badge-gradient-warning">İLERLEME</label>
                                                    </td>
                                                    <td>
                                                        12 Aralık, 2017
                                                    </td>
                                                    <td>
                                                        WD-12346
                                                    </td>
                                                    <td>
                                                        <i class="mdi mdi-arrow-up text-danger icon-sm mr-1"></i>Yüksek
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5671
                                                    </td>
                                                    <td>
                                                        Web sitesi bir hafta boyunca kapalı
                                                    </td>
                                                    <td class="py-1">
                                                        <img src="~/images/faces/face3.jpg" class="mr-2" alt="image">
                                                        Marina Michel
                                                    </td>
                                                    <td>
                                                        <label class="badge badge-gradient-secondary">BEKLEMEDE</label>
                                                    </td>
                                                    <td>
                                                        16 Aralık, 2017
                                                    </td>
                                                    <td>
                                                        WD-12347
                                                    </td>
                                                    <td>
                                                        <i class="mdi mdi-arrow-up text-success icon-sm mr-1"></i>Düşük
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5672
                                                    </td>
                                                    <td>
                                                        Sunucuda denetim kaybetme
                                                    </td>
                                                    <td class="py-1">
                                                        <img src="~/images/faces/face4.jpg" class="mr-2" alt="image">
                                                        John Doe
                                                    </td>
                                                    <td>
                                                        <label class="badge badge-gradient-success">TAMAMLANDI</label>
                                                    </td>
                                                    <td>
                                                        3 Aralık, 2017
                                                    </td>
                                                    <td>
                                                        WD-12348
                                                    </td>
                                                    <td>
                                                        <i class="mdi mdi-arrow-up text-warning icon-sm mr-1"></i>Orta
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Nakliye durumu</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        İsim
                                                    </th>
                                                    <th>
                                                        Genel İlerleme
                                                    </th>
                                                    <th>
                                                        ID
                                                    </th>
                                                    <th>
                                                        Başlama Tarihi
                                                    </th>
                                                    <th>
                                                        Bitiş Tarihi
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        Herman Beck
                                                    </td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        ST-3
                                                    </td>
                                                    <td>
                                                        10 Mayıs, 2015
                                                    </td>
                                                    <td>
                                                        15 Mayıs, 2015
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Messsy Adam
                                                    </td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        ST-4
                                                    </td>
                                                    <td>
                                                        1 Mayıs, 2015
                                                    </td>
                                                    <td>
                                                        01 Temmuz, 2015
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                        John Richards
                                                    </td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        ST-5
                                                    </td>
                                                    <td>
                                                        10 Mart, 2015
                                                    </td>
                                                    <td>
                                                        12 Nisan, 2015
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                        Peter Meggik
                                                    </td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        ST-6
                                                    </td>
                                                    <td>
                                                        10 Mayıs, 2015
                                                    </td>
                                                    <td>
                                                        15 Mayıs, 2015
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Edward
                                                    </td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        ST-7
                                                    </td>
                                                    <td>
                                                        23 Ocak, 2015
                                                    </td>
                                                    <td>
                                                       03 Mayıs, 2015
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Ronald
                                                    </td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        ST-8
                                                    </td>
                                                    <td>
                                                        01 Haziran, 2015
                                                    </td>
                                                    <td>
                                                        05 Haziran, 2015
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Telif Hakkı © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. Her Hakkı Saklıdır</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">El işi & yapımı <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- row-offcanvas ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/node_modules/chart.js/dist/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>

</html>
